/build
/amazonReleaseServer
/amazonDemoServer
/androidTvReleaseServer
/androidTvDemoServer
/fireTvReleaseServer
/fireTvDemoServer
/gpsReleaseServer
/gpsDemoServer
/nonGpsReleaseServer
/nonGpsDemoServer